# === [START APP] ===
APP_NAME=sapasora
APP_KEY=
APP_ENV=development
APP_URL=http://localhost
APP_PORT=3000
APP_DEBUG=true
APP_PREFORK=false
# === [END APP] ===

# === [START LOG] ===
LOG_LEVEL=debug # disabled, none, panic, fatal, error, warn, info, debug, trace
LOG_CONSOLE=true
LOG_FILE=true
LOG_DIR=./storage/logs
LOG_MAX_SIZE=100
LOG_MAX_AGE=30
LOG_MAX_BACKUP=30
LOG_JSON=true
# === [END LOG] ===

# === [START DATABASE] ===
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=${APP_NAME}
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SSL_MODE=disable
# === [END DATABASE] ===

# === [START TELEGRAM] ===
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
# === [END TELEGRAM] ===

CACHE_TTL=60

SESSION_DRIVER=database

# === [START INERTIA] ===
INERTIA_ENCRYPT_HISTORY=true
INERTIA_WITH_SSR=true
INERTIA_SSR_URL=http://127.0.0.1:13714
# === [END INERTIA] ===

# === [START VITE CONFIG] ===
VITE_APP_NAME=${APP_NAME}
VITE_APP_URL=http://localhost
# === [END VITE CONFIG] ===