{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 150,
  "bracketSameLine": true,
  "useTabs": false,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^@/css/(.*)$", "^@/js/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindStylesheet": "resources/css/app.css",
  "overrides": [{ "files": "**/*.yml", "options": { "tabWidth": 2 } }]
}
